<div class="portfolio-grid-element">
    <a href="{{ include.url }}">
        <div class="portfolio-element-img">
            <img src="{{ site.baseurl }}{{ include.file }}"> 
        </div>
        <div class="portfolio-element-caption">
            <div class="portfolio-element-title">
                <h4>{{ include.title }}</h4>
                <div class="portfolio-element-icon">{{ include.icon }}</div>
            </div>
            <div class="portfolio-element-txt">
                <p>{{ include.caption }}</p>
            </div>
        </div>
    </a>
</div>
