#seo {
  height:100%;
  padding-top:50px;
  background: #fdfdfd;
  margin-bottom:70px;
}
#header-seo {
  background: #fdfdfd;
  padding-top:15px;
}
.list-seo {
  border: 1px solid;
  padding: 20px;
  box-shadow: 1px 1px 1px #ccc;
  height: auto;  
  min-height:430px;
}
.title-list-seo {
  margin-bottom:15px;
}
.title-list-seo h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.price-list-seo {
  text-align:center;
  margin:auto;
  font-size:2rem;
  color: #79A9D1;
  font-weight: bold;
  bottom:0;
}
